__pycache__/
*.pyc

Backend/models/
Backend/workflow/vectorstore/
Backend/workflow/vectorstoretmp/
Backend/requirements/venv_main/
Backend/venv310/
Backend/venvWav2Lip/
Backend/generate_avatar/__pycache__/
Backend/pycache/
Backend/external/
Backend/__pycache__/
.DS_Store
Backend/workflow/runtime/
Backend/.idea/
.idea/

