__pycache__/
*.pyc

Proiect/models/
Proiect/workflow/vectorstore/
Proiect/workflow/vectorstoretmp/
Proiect/requirements/venv_main/
Proiect/venv310/
Proiect/venvWav2Lip/
Proiect/generate_avatar/__pycache__/
Proiect/pycache/
Proiect/external/
Proiect/__pycache__/
.DS_Store
Proiect/workflow/runtime/
Proiect/.idea/
.idea/

