__pycache__/
*.pyc

Proiect/models/
Proiect/vectorstore/
Proiect/vectorstoretmp/
Proiect/venv/
Proiect/venv310/
Proiect/venvWav2Lip/
Proiect/generate_avatar/__pycache__/
Proiect/pycache/
Proiect/external/SadTalker/
Proiect/external/Wav2Lip/
Proiect/__pycache__/
.DS_Store
Proiect/runtime/

.idea/
Proiect/.idea/
