absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
audioread
certifi
cffi
charset-normalizer
click>=8.0
colorama
coloredlogs
contourpy
cycler
dataclasses-json
decorator
diskcache
distro
filelock
flatbuffers
fonttools
frozenlist
fsspec
greenlet
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
ImageIO
imageio-ffmpeg
Jinja2
jiter
joblib
jsonpatch
jsonpointer
kiwisolver
lazy_loader
llvmlite
MarkupSafe
marshmallow
matplotlib
moviepy
mpmath
msgpack
multidict
mypy_extensions
networkx
nltk
onnxruntime
opencv-python
orjson
ormsgpack
packaging
pandas
pillow
piper-tts
platformdirs
pooch
proglog
propcache
protobuf
pycparser
pydantic
pydantic-settings
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
PyMuPDF
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
setuptools
six
sniffio
soundfile
soxr
SQLAlchemy
sympy
tenacity
threadpoolctl
tokenizers
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
Unidecode
urllib3
xxhash
yarl
zstandard